* {
  box-sizing: border-box;
}

:root {
  --main-color: #34495e;
  --background-direction-header: 0deg;
  --background-header: linear-gradient(
    var(--background-direction-header),
    rgba(34, 193, 195, 1) 0%,
    rgba(45, 253, 226, 1) 100%
  );
  --background-direction-footer: 180deg;
  --background-footer: linear-gradient(
    var(--background-direction-footer),
    rgba(34, 193, 195, 1) 0%,
    rgba(45, 253, 226, 1) 100%
  );
  --background-selection: #fff0f5;
  --color-selection: #008080;
  --background-beside: #dcdcdc;
  --background-hover-active: #d8bfd8;
  --color-borderline: #20b2aa;
  --background-color-dark-scheme: #000000;
  --color-dark-scheme: #ffffff;
}

body {
  font-family: "Merriweather Sans", sans-serif;
  font-size: 1em;
  margin: 0;
}

header {
  position: relative;
  margin: 0;
  color: var(--main-color);
  background: var(--background-header);
}

main {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  color: var(--main-color);
}

@media screen and (min-width: 786px) {
  html {
    font-size: 18px;
  }
  .hireme {
    position: relative;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--background-color-dark-scheme);
    color: var(--color-dark-scheme);
  }
}

::selection {
  background-color: var(--background-selection);
  color: var(--color-selection);
}

.heading-group {
  font-size: 4rem;
  padding-left: 2rem;
}
.main-heading {
  font-size: 2rem;
  margin-top: 0;
}

footer {
  color: var(--main-color);
  background: var(--background-footer);
  /*Wie kann ich die Farbschattierung umdrehen? Über die Keywords schaffe ich es nicht?*/
}
.profession {
  font-size: 25%;
}

#contact {
  text-align: center;
  padding: 1em;
}
.navigation {
  color: var(--main-color);
  padding: 0.25em;
  margin: 0.25em;
  border-radius: 0.25em;
  transition: background-color 0.5s;
}

/* Das finde ich zu häßlich;-)
h1::before {
  content:'❕'
}
h1::after {
  content: '❕'
}
*/
.hireme {
  position: absolute;
  right: 1rem;
  top: 1rem;
  padding: 1em;
  font-family: "Montserrat", sans-serif;
  font-size: 25%;
  text-align: center;
  color: var(--main-color);
  background-color: var(--background-selection);
  transition: background-color 1s;
  border-radius: 20rem;
}

header:hover .hireme {
  transform: scale(1.2);
}

@media print {
  .hireme {
    display: none;
  }
  .navigation {
    display: none;
  }
  #contact {
    display: none;
  }
}

.beside {
  max-width: 40ch;
  background-color: var(--background-beside);
  width: 25%;
  position: sticky;
  padding-bottom: 0;
  padding-left: 0, 5rem;
  padding-bottom: 0, 5rem;
}

.ÜberschriftKontaktblock {
  text-align: left;

  margin-top: 0;
}

article {
  max-width: 100ch;
  margin: 0;
  padding: 0 0 0 1em;
}
@media screen and (min-width: 786px) {
  .Profil-und-mehr > * + * {
    margin-top: 2em;
  }
}

h1,
h2,
h3,
h4,
h5 {
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

h4,
h5 {
  text-align: left;
}

h5 {
  margin-top: 0;
  font-size: 90%;
}

nav > ul > li {
  list-style: none;
  display: inline;
}

.experience-heading {
  display: inline-block;
  width: 22rem;
  margin-top: 1rem;
  margin-bottom: 0;
}
.experience-time-subheading {
  display: inline-block;
}

article + article {
  border-bottom: 0.2em solid var(--color-borderline);
}

a:hover {
  background-color: var(--background-beside);
}

/*Warum verhält sich focus wie aktive? */
a:focus {
  background-color: (var(--background-selection));
  border: 0.01em dotted #34495e;
}

a:active {
  background-color: var(--background-hover-active);
}

/*kann ich die ol-Elemente umdrehen?*/
ol {
  list-style: disc;
}
ol li::marker {
  color: var(--color-borderline);
}
li + li {
  margin-top: 0.5em;
}
