* {
  box-sizing: border-box;
}

html {
  font-family: "Merriweather Sans", sans-serif;
  font-size: 16px;

}
::selection {
  background-color: #FFF0F5;
  color: #708090;
}

.heading-group {
 font-size: 4rem; 
}
.main-heading {
  font-size: 2rem;
}

header {
  position: sticky;
  top: 0;
}
.profession
{
  font-size: 25%;
}
.header,
#contact {
  background-color: #20B2AA;
  text-align: center;
  padding: 1em;
}
.navigation {
  color: black;
  padding 4px; 20px; 20px, 4px;
  margin: 2em; 
}

.beside {
  max-width: 40ch;
  display: block;
  background-color: lightgrey;
  width: 25%;
  position: sticky
  box-sizing: border-box; 
  padding-bottom: 0;
  padding-left: 0,5rem;
  padding-bottom: 0,5rem;
}

.ÜberschriftKontaktblock {
  text-align: left;
  border: 2px solid black;
  margin-top: 0
}
.subheadinggoodtoknow{
  border: 2px solid black;
  margin-top: 0;
}

.Geburt {
  padding: 0
  display: inline-block 
}

/*
h1::before {
  content:'❕'
}
h1::after {
  content: '❕'
}
*/
.hireme {
position: absolute;
top: 1rem;
right: 0,5rem;
  font-family: "Montserrat", sans-serif;
  font-size: 100%;
  text-align: center;

  color: #708090;
  background-color: #FFF0F5;
  border-radius: 20rem;
  padding: 1em;
}
.main {
  max-width: 100ch;
margin: 0;
 padding: 0 0 0 1em;
}

h1,
h2,
h3,
h4 {
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

.experience-heading
{
  display: inline-block;
}

.experience-time-subheading
{ 
  display: inline-block; 
  text-align: right;
  padding-right: 2em;
  position: relative;
  right: -2em;
  
  
}

h4 {
  text-align: left;
}
article + article 
{ border-top: 0.2em solid #20B2AA;}

a:hover {
  background-color:#DCDCDC;
}

a:active {
  background-color: #D8BFD8;
}

li + li {
  margin-top: 0.5em;
}


